/* 全局样式表 */
html {
    --ThemeColor: #2e73ff;
    --ThemeColorDark: #2d6dca;
    --AidColor1: #fa7d00;
    --AidColor2: #ff2e2e;
    --AidColor3: #36c67d;
    --TextColor1: #141418;
    --TextColor2: #5f5f6b;
    --TextColor3: #97979f;
    --DividColor: #e7eaf0;
    --BlockColor:#fff;
    --BlockBlack: #000;
    --BackgroundColor: #f4f6fa;
    --text28: 28px;
    --text26: 26px;
    --text24: 24px;
    --text22: 22px;
    --text20: 20px;
    --text18: 18px;
    --text16: 16px;
    --text14: 14px;
    --text12: 12px;
}

body {padding: 0;margin: 0;}

.blue {
  color: blue;
}

.red {
  color: red;
}

.pull-left {float: left;}
.pull-right {float: right;}

.container {
  max-width: 600px;
}

.under-line {
  text-decoration: underline;
  padding: 0 3px;
}
